[submodule "lib/DDHidLib"]
	path = lib/DDHidLib
	url = https://github.com/teddywing/DDHidLib.git
[submodule "lib/dome-key-map"]
	path = lib/dome-key-map
	url = ../dome-key-map
[submodule "lib/AquaticPrime"]
	path = lib/AquaticPrime
	url = https://github.com/bdrister/AquaticPrime.git
